# INTRODUCTION

This data analysis project focuses on video game sales and reviews, encompassing table modifications, data cleaning, and data visualization.The objectives of this project are as follows:

üìà **Sales Trends:** What are the best-selling games of all time?

üïπÔ∏è **Genre Popularity:** Which genres have the highest sales?

üåç **Regional Sales:** How do sales vary across North America, Europe, and Japan?

‚≠ê **Review Analysis:** How do critic and user scores correlate with sales?

üèÜ **Publisher Insights:** Which publishers release the most successful games?

The data was obtained from a Kaggle profile.

## Import Python Modules

First, import the primary modules that will be used in this project:

In [187]:
%matplotlib notebook
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

After that, we can finally load our database and discover its columns and all its contents.

In [189]:
game_data = pd.read_csv('Video Games Sales.csv')

In [190]:
game_data.head(7)

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00
5,5,6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,10.85,8.87,6.48,2.88,29.08,90.00
6,6,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.83,9.11,2.93,2.84,28.71,61.64

The primary focus of the table is the name, sales by region, and ratings, all of which are global.

## Data knowledge and data cleansing

Before we get started, let's review all of the content to find any missing data and to know what kind of data is handled by each column.

In [193]:
game_data.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,953.0000,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,0.0000,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,476.5000,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,953.0000,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1429.5000,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1906.0000,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

In [194]:
game_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          1907 non-null   int64
 1   Rank           1907 non-null   int64
 2   Game Title     1907 non-null   object
 3   Platform       1907 non-null   object
 4   Year           1878 non-null   float64
 5   Genre          1907 non-null   object
 6   Publisher      1905 non-null   object
 7   North America  1907 non-null   float64
 8   Europe         1907 non-null   float64
 9   Japan          1907 non-null   float64
 10  Rest of World  1907 non-null   float64
 11  Global         1907 non-null   float64
 12  Review         1907 non-null   float64
dtypes: float64(7), int64(2), object(4)
memory usage: 193.8+ KB

Looking at all the data, we can see that the **Year** column is missing a lot of data. We can also see that the **Publisher** column is also missing some data.

In [196]:
game_data.isnull().sum()

index             0
Rank              0
Game Title        0
Platform          0
Year             29
Genre             0
Publisher         2
North America     0
Europe            0
Japan             0
Rest of World     0
Global            0
Review            0
dtype: int64

In the table it seems that some columns are not well defined, so it will be better to fix them by modifying the float by int. The publisher also needs to be modified.

In [198]:
game_data["Year"] = game_data["Year"].fillna(game_data["Year"].median()).astype(int)
game_data["Publisher"] = game_data["Publisher"].fillna("Unknown")

With these lines of code, we can repair and omit all data with empty cells. We can then start the analysis.

In [200]:
game_data.drop(columns=["index"], inplace=True)

We are also going to eliminate the index column because we do not need it since we already have the range column.

In [202]:
print("There are", game_data.duplicated().sum(), "rows in the table that are duplicates.")

There are 0 rows in the table that are duplicates.

With this feature, we were able to demonstrate that there was no duplicate data, so we could move forward.